h1 {
    font-size: 40px;
    font-family: 'Comfortaa', cursive;
    color: #8e7cc3;
}
h2 {
  font-size: 18px;
  font-family: 'Comic Sans MS', cursive;
  color: #8e7cc3;
  font-weight: bold;
}
h3{
  font-size: 14px;
  font-family: 'Comic Sans MS', cursive;
  color: #8e7cc3;
  font-weight:bold;
}
p{
  font-size: 12px;
  font-family: 'Comfortaa', cursive; 
 color: #1c1c1c;
}
